body {
  background-color: #4A2419; /* fondo oscuro general */
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}

header {
  background-color: #774936; /* color marrón principal */
  color: white;
  padding: 20px;
  text-align: center;
  border-bottom: 5px solid #411D13;
}

.carousel {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px #260701;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #532C1E;
  border-radius: 50%;
  padding: 20px;
}

.carousel-indicators [data-bs-target] {
  background-color: #6E4230;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 5px;
}

.carousel-inner {
  background-color: #38160D;
}

.carrusel-img {
  cursor: pointer;
  transition: transform 0.3s;
}

.carrusel-img:hover {
  transform: scale(1.02);
}

.modal-content {
  background-color: #653A2A;
  color: white;
  border: 3px solid #2F0E07;
}

.modal-header {
  border-bottom: 1px solid #411D13;
}

.modal-body img {
  border-radius: 10px;
  box-shadow: 0 0 10px #260701;
}
